<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated soaml -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.sirius.sample.soaml.presentation.SoamlModelWizardID"
            name="%_UI_SoamlModelWizard_label"
            class="org.eclipse.sirius.sample.soaml.presentation.SoamlModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/SoamlModelFile.gif">
         <description>%_UI_SoamlModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated soaml -->
      <editor
            id="org.eclipse.sirius.sample.soaml.presentation.SoamlEditorID"
            name="%_UI_SoamlEditor_label"
            icon="icons/full/obj16/SoamlModelFile.gif"
            extensions="soaml"
            class="org.eclipse.sirius.sample.soaml.presentation.SoamlEditor"
            contributorClass="org.eclipse.sirius.sample.soaml.presentation.SoamlActionBarContributor">
      </editor>
   </extension>

</plugin>
