<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated originreq -->
      <package
            uri="http://www.example.org/originreq"
            class="originreq.OriginreqPackage"
            genModel="model/originreq.genmodel"/>
   </extension>

</plugin>
